body{
	color: white;
	padding-bottom: 30px;
	font-family: 'Roboto', sans-serif;
	background-color: #2F0781;
}

b{
	font-weight: 500;
}

.principal{
	background-color: #DFB233;
	min-height: 150px;
	padding-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.sideLogo {
    
}

.logo{
    margin-top: 35px;
	width: 180px;
}

.footer{
	padding-left: 37px;
	width: 100%;
    display: grid;
}

.copyright {
	color: white;
	float: right;
	width: calc(100% - 128px);
	padding-bottom: 30;
}

.title{
    font-size: 38px;
    padding-top: 15px;
    font-weight: 100;
}

p, li, legend {
	line-height: 20px;
    font-size: 18px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.buttondiv{
	margin-top: 60px; 
	padding-left: 30px;
}

.button{
	width: 150px;
}

.footer{
	margin-top: 15px;
	padding-left: 37px !important;
}

.footer img{
	width: 150px;
}

.container-fluid{
	margin: 0px;
	padding: 0px;
}

.textdiv{
	margin-top: 60px; 
	padding-left: 30px;
}

.row{
    margin: 0px;
}

@media (min-width: 500px){
	.footer{
		padding-left: 30px;
    }
    .row-footer {
        height: 120px;
    }
	.footer img{
		width: 280px;
	}
	.titlediv{
		margin-left: 150px;
	}

	.title {
    	font-size: 80px;
    	padding-top: 15px;
	}
	.logo{
		width: 245px;
	}
	p, li, legend {
    	font-size: 40px;
    	/* font-style: italic; */
    	line-height: 60px;
        text-align: justify
	}
	.button{
		width: 290px;
	}
	.principal{
		background-size: 1700px 1500px;
    	background-repeat: no-repeat;
	}
	.buttondiv{
		margin-top: 60px; 
		padding-left: 30px;
	}
	.textdiv{
		margin-top: 70px; 
		padding-left: 30px;
	}
}

@media (min-width: 500px) and (orientation: landscape){
	.footer img{
		width: 150px;
	}
	.titlediv{
		margin-left: 0px;
	}
	.title {
    	font-size: 38px;
    	padding-top: 15px;
	}
	.logo{
		width: 180px;
	}
	p, li, legend {
    	font-size: 18px;
    	/* font-style: italic; */
    	line-height: 20px;
        text-align: justify
	}
	.button{
		width: 150px;
	}
	.principal{
		background-size: 1700px 1500px;    	
        background-repeat: no-repeat;
	}
}